:root {
  --sans-serif: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Segoe UI", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, Arial, sans-serif;
  --serif: "Iowan Old Style", "Source Serif Pro", "Droid Serif", "Georgia", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --mono: Courier, monospace;
}

html {
  font-size: 24px;
  line-height: 1.5;
}

@media (max-width: 767px) {
  html {
    font-size: 18px;
  }
}

body {
  color: #333;
  font-family: var(--serif);
  margin: 2rem;
}

a:link {
  color: #369;
}

a:visited {
  color: #963;
}

code, kbd {
  font-family: var(--mono);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--sans-serif);
}

h1, h2, h3, h4, h5, h6, ol, p, ul {
  margin: 1rem 0;
}

h1 {
  font-size: 3.5em;
  line-height: 1.25;
  word-break: break-word;
}

@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  margin-top: 4rem;
}

blockquote {
  font-family: var(--sans-serif);
  margin: 0;
}

figure blockquote {
  font-size: 1.5rem;
  line-height: 1.25;
}

figure {
  margin: 8rem 0;
}

figure.breakout {
  margin-left: -2rem;
  margin-right: -2rem;
}

figcaption {
  border-top: 1px solid;
  color: #777;
  font-size: 0.75rem;
  margin: 1.5rem 0;
  padding: 1rem 0 0;
}

figure.breakout figcaption {
  padding-left: 2rem;
  padding-right: 2rem;
}

hr {
  background: transparent;
  border: 0 none;
  display: block;
  font-size: 2rem;
  line-height: 1rem;
  margin: 4rem 0;
  text-align: center;
}

hr::before {
  content: '⋯';
}

nav {
  margin: 2rem auto 5rem;
  max-width: 30rem;
}

nav a:link,
nav a:visited {
  color: inherit;
  text-decoration: none;
}

article {
  margin: 5rem auto 5rem;
  max-width: 30rem;
}

article > header {
  margin: 5rem 0;
}

article > footer {
  margin: 10rem 0 5rem;
  text-align: center;
}
